
/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
html, body {
  height: 100%;
  background: #333;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url('../images/bg.jpg');
  background-size: cover;
  z-index: 1;
  filter: blur(20px);
}
.buttons {
  border-radius: 8px;
  background: #f3cf89;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: 1fr; */
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  line-height: 1rem;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  padding: 0.25rem 1rem;
  border: 0;
  border-radius: 4px;
  color: rgba(74, 46, 19, 0.9);
  outline: none;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  transition: all .2s ease;
  background: #fff1d5;
  margin-top: 1rem;
}
button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
button:active {
  transform: translateX(1px) translateY(1px);
}
.iconButton {
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  background: #f3cf89;
  box-shadow: none;
  border-radius: 8px;
}
.iconButton:hover {
  transform: scale(1.05);
}
.iconButton.active, .iconButton:hover {
  color: rgba(74, 46, 19, 1);
  background: #fff1d5;
}
select {
  border: 1px solid white;
  height: 30px;
  min-width: 128px;
  font-size: 0.9rem;
  padding: 0.25rem;
  outline: none;
}
textarea {
  background: #d6ae60;
  color: rgb(68, 44, 20);
  width: 100%;
  height: 100%;
  outline: none;
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  border: 1px solid rgba(68, 44, 20, 0.2);
  border-radius: 8px;
  padding: 0.5rem;
  resize: none;
}
textarea::placeholder {
  color: rgba(68, 44, 20, 0.35);
}

h2 {
  font-size: 1rem;
  margin: 1rem 0;
  color: #fff;
}
p {
  margin-bottom: 1rem;
  color: #fff;
}

/* Demo layout */
.main {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  z-index: 2;
}
.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - 376px);
}
.wrapper {
  width: 100%;
  height: 100%;
}
.right {
  width: 360px;
  padding-left: 1rem;
}

/* Panel */
.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #d6ae60;
  color: rgb(68, 44, 20);
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  padding: 0.75rem;
}
.block {
  max-width: 100%;
  padding-top: 0.5rem;
  /* padding: 1rem 0; */
  /* border-bottom: 1px solid rgba(68, 44, 20, 0.2); */
}
.block:first-child {
  padding-top: 0;
}
.block:last-child {
  padding-bottom: 0;
  border: 0;
}
.players, .times {
  display: flex;
  justify-content: space-between;
}
.player, .time {
  flex: 0 0 calc(50% - 0.25rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 8px;
  background: #f3cf89;
}
.time {
  align-items: center;
}
.player {
  position: relative;
  height: 5rem;
}
.player:after {
  position: absolute;
  right: 0.5rem;
  top: -0.5rem;
  display: block;
  font-size: 4rem;
  opacity: 0.05;
}
.player.black {
  margin-right: 0.25rem;
}
.player.black:after {
  content: '黒';
}
.player.white:after {
  content: '白';
}
.player.white {
  margin-left: 0.25rem;
}
.player .color {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.player .color.black {
  background: #222;
  /* color: rgba(255, 255, 255, 0.15); */
}
.player .color.white {
  background: #fff;
  /* color: rgba(0, 0, 0, 0.075); */
}
.player .identity {
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 5px;
}
.player .nameAndRank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
}
.player .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  font-size: 1rem;
  height: 20px;
}
.player .rank, .timeLabel {
  font-size: 0.8rem;
  opacity: 0.5;
}
label {
  display: block;
  font-size: 0.8rem;
  opacity: 0.5;
  margin-bottom: 0.25rem;
}
.timeLabel {
  padding-bottom: 2px;
}
.player .score {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.9rem;
}
.editing {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comments {
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Game info */
.gameInfo, .settings {
  border-radius: 8px;
  background: #f3cf89;
  padding: 1rem;
}
.row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.row:last-child {
  margin: 0;
}
.row .label {
  width: 50px;
  opacity: 0.5;
  font-size: 0.8rem;
  text-transform: lowercase;
}
.row .value {
  font-size: 0.9rem;
  max-width: 235px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Settings */
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}
.checkboxLabel {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.25rem 0;
  font-size: 0.9rem;
  color: #333;
  opacity: 1;
  gap: 5px;
}

/* Board styling */
.seki-board-static {
  flex: 0 0 150px;
  height: 150px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Material icons */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Utility */
.hidden {
  display: none !important;
}
