
/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
html, body {
  height: 100%;
  background: #fff;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
}
h3 {
  font-size: 1rem;
  margin: 1rem 0;
  color: #333;
}
p {
  margin-bottom: 1rem;
  color: #333;
}
ul {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
a {
  color: #0574cf;
  text-decoration: none;
}
hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ccc;
}

.main {
  padding: 1rem;
}
.examples {
  display: flex;
  flex-wrap: wrap;
}
.example {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 1rem;
}
.fixed-size {
  max-height: 400px;
  width: 100%;
}
.rectangular {
  aspect-ratio: 1.15;
}
.square {
  aspect-ratio: 1;
}
.flexible-size {
  width: 100%;
  max-height: 96vh;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
}
