
/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
html, body {
  height: 100%;
  background: #333;
}
button {
  font-family: Helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
}
h2 {
  margin: 1rem 0;
  color: #fff;
}
p {
  margin-bottom: 1rem;
  color: #fff;
}

/* Demo layout */
.main {
  display: flex;
  padding: 1rem;
  height: 100%;
}
.left {
  flex: 1;
}
.right {
  flex: 0 0 250px
}

/* Board styling */
.seki-board {
  /* background: url('../src/css/wood-2.jpg');
  background-size: 40%; */
}
.seki-board-static {
  flex: 0 0 150px;
  height: 150px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}
